
@model WizrrWeb.Models.EmployeeManagement.Emp_EducationalDetailsModel

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UniversityInstitute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniversityInstitute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Degree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Degree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarksInPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarksInPercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.From)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.To)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.To)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpCode)
        </dd>

    </dl>
</div>
