@model IEnumerable<WizrrWeb.Models.EmployeeManagement.Emp_PublicationDetailsModel>

    <div class="col-xl-12">
        <div class="table-responsive">
            <table class="tables" style="width:100%">
                <thead>
                    <tr>
                        <th scope="col">Published On</th>
                        <th scope="col">Publication</th>
                        <th scope="col">Description</th>
                        <th scope="col">url</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() > 0)
                    {
                        foreach (var p in Model)
                        {
                            <tr>
                                <td scope="row" data-label="Published On">@p.PublishedOn</td>
                                <td data-label="Publication">@p.Publication</td>
                                <td data-label="Description">@p.Description</td>
                                <td data-label="url">@p.Url</td>
                                <td data-label="Action">
                                    <div class="btn-icon-list center">
                                        <button class="btn" style="padding:0px 5px 0px 45px;margin:0px;" onclick="EditPublication(@p.ID)"><i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"></i></button>
                                        <button class="btn" style="padding:0px;margin:0px;" onclick="DeletePublication(@p.ID)"><i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i></button>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div><!-- bd -->
    </div>
