@model IEnumerable<WizrrWeb.Models.EmployeeManagement.Emp_BankingDetailsModel>

    <div class="col-xl-12">
        <div class="table-responsive">
            <table class="tables" style="width:100%">
                <thead>
                    <tr>
                        <th scope="col">Bank</th>
                        <th scope="col">Branch</th>
                        <th scope="col">City</th>
                        <th scope="col">State</th>
                        <th scope="col">Country</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td scope="row" data-label="Bank">@item.BankName</td>
                                <td data-label="Branch">@item.Branch</td>
                                <td data-label="City">@item.City</td>
                                <td data-label="state">@item.State</td>
                                <td data-label="Country">@item.Country</td>
                                <td data-label="Action">
                                    <div class="btn-icon-list center">
                                        <button class="btn" style="padding:0px 5px 0px 20px;margin:0px;" onclick="BankingAddEdit('Edit',@item.ID)"><i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"></i></button>
                                        <button class="btn" style="padding:0px;margin:0px;" onclick="BankingAddEdit('View',@item.ID)"><i class="si si-eye text-primary mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="View"></i></button>
                                        <button class="btn" style="padding:0px;margin:0px;" onclick="DeleteBankingDetails(@item.ID)"><i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i></button>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>