@using VarshaWeb.Models.EmployeeManagement;

@{
    ViewBag.Title = "EmployeeDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Internal Select2 css -->
<link href="../assets/plugins/select2/css/select2.min.css" rel="stylesheet">

<!--Internal  Datetimepicker-slider css -->
<link href="../assets/plugins/amazeui-datetimepicker/css/amazeui.datetimepicker.css" rel="stylesheet">

<!--Internal  TelephoneInput css-->
<link rel="stylesheet" href="../assets/plugins/telephoneinput/telephoneinput.css">

<!--- Style css-->
<link href="~/assets/css/style.css" rel="stylesheet">
<link href="~/assets/css/style-dark.css" rel="stylesheet">
<!-- breadcrumb -->
<!-- row -->

    <div class="breadcrumb-header justify-content-between">
        <div class="my-auto">
            <div class="d-flex">
                <h4 class="content-title mb-0 my-auto">Employee Managment</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Employee Master Dashboard</span>
            </div>
        </div>
    </div>
    <!-- breadcrumb -->
    <!-- row -->

    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <!--Dashboard Code start-->
            <div class="card mg-b-20">
                <div class="row" ng-app="NewEmployeeapp" ng-controller="NewRequestController">
                    <div class="card-body">
                        <!--<div>
                <h6 class="card-title mb-1">Entry Page</h6>
                <p class="text-muted card-sub-title">Entry Page</p>
            </div> -->
                        <div class="card-body pt-0">
                            <div class="">
                                <div class="row row-sm">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="First_Name">First Name</label>
                                            <input type="text" class="form-control" ng-model="ngtxtfirstname" id="First_Name" placeholder="Enter First_Name">
                                        </div>

                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="Middle_Name">Middle Name</label>
                                            <input type="text" class="form-control" ng-model="ngtxtMiddlename" id="Middle_Name" placeholder="Enter Middle_Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-sm">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="First_Name">Last Name</label>
                                            <input type="text" class="form-control" ng-model="ngtxtlastname" id="Last_Name" placeholder="Enter Last_Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="Middle_Name">Emp Code</label>
                                            <input type="text" class="form-control" id="Middle_Name" placeholder="Enter Emp_Code">
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-sm">
                                    <div class="col-lg-6">
                                        <label for="exampleInputPassword1">Joining Date</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                                                </div>
                                            </div><input class="form-control" id="datetimepicker" type="text" value="2018-12-20 21:05">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Date Of Birth</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                                                    </div>
                                                </div><input class="form-control" id="datetimepicker1" type="text" value="2018-12-20 21:05">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-sm">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Gender</label>
                                            <select class="form-control select2">
                                                <option label="Choose one">
                                                </option>
                                                <option value="Firefox">
                                                    Male
                                                </option>
                                                <option value="Chrome">
                                                    Female
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-g<div class="form-group">
                                            <label for="exampleInputPassword1">Marial Status</label>
                                            <select class="form-control select2">
                                                <option label="Choose one">
                                                </option>
                                                <option value="Firefox">
                                                    Married
                                                </option>
                                                <option value="Chrome">
                                                    UnMarried
                                                </option>

                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row row-sm">
                                <div class="col-lg-6">
                                    <label for="exampleInputPassword1">OnProbationTill</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                                            </div>
                                        </div><input class="form-control" id="datetimepicker" type="text" value="2018-12-20 21:05">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Probation Status</label>
                                        <select class="form-control select2">
                                            <option label="Choose one">
                                            </option>
                                            <option value="Firefox">
                                                Probation
                                            </option>
                                            <option value="Chrome">
                                                Confirmed
                                            </option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-sm">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Manager</label>
                                        <select class="form-control select2">
                                            <option label="Choose one">
                                            </option>
                                            <option value="Firefox">
                                                Vishal Pise
                                            </option>
                                            <option value="Chrome">
                                                Shripal shah
                                            </option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="Middle_Name">Office Mail</label>
                                        <input type="text" class="form-control" id="Middle_Name" placeholder="Enter Office_Mail">
                                    </div>
                                </div>
                            </div>

                            <div class="row row-sm">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Mobile Number</label>
                                        <div class="input-group">
                                            <input class="form-control" id="phone" name="phone" type="tel">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="Telephone_Number">Telephone Number</label>
                                        <input type="text" class="form-control" id="Telephone_Number" placeholder="Enter Telephone_Number">
                                    </div>
                                </div>
                            </div>
                            <div class="row row-sm">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Company</label>
                                        <select class="form-control select2">
                                            <option label="Choose company">
                                            </option>
                                            @foreach (VarshaWeb.Models.EmployeeManagement.Emp_CompanyMasterModels company in (List<VarshaWeb.Models.EmployeeManagement.Emp_CompanyMasterModels>)ViewBag.company)
                                            {
                                                <option value="@company.ID">
                                                    @company.CompanyName
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Designation</label>
                                        <select class="form-control select2">
                                            <option label="Choose Designation">
                                            </option>
                                            @foreach (VarshaWeb.Models.EmployeeManagement.Emp_DesignationModels designation in (List<VarshaWeb.Models.EmployeeManagement.Emp_DesignationModels>)ViewBag.designation)
                                            {
                                                <option value="@designation.ID">
                                                    @designation.Designation
                                                </option>
                                            }
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="row row-sm">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Department</label>
                                        <select class="form-control select2">
                                            <option label="Choose Department">
                                            </option>
                                            @foreach (VarshaWeb.Models.EmployeeManagement.Emp_DepartmentModels department in (List<VarshaWeb.Models.EmployeeManagement.Emp_DepartmentModels>)ViewBag.department)
                                            {
                                                <option value="@department.ID">
                                                    @department.DepartmentName
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Division</label>
                                        <select class="form-control select2">
                                            <option label="Choose Division">
                                            </option>
                                            @foreach (VarshaWeb.Models.EmployeeManagement.Emp_DivisionModels division in (List<VarshaWeb.Models.EmployeeManagement.Emp_DivisionModels>)ViewBag.division)
                                            {
                                                <option value="@division.ID">
                                                    @division.Division
                                                </option>
                                            }
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="row row-sm">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Region</label>
                                        <select class="form-control select2">
                                            <option label="Choose company">
                                            </option>
                                            @foreach (VarshaWeb.Models.EmployeeManagement.Emp_RegionModels Region in (List<VarshaWeb.Models.EmployeeManagement.Emp_RegionModels>)ViewBag.Region)
                                            {
                                                <option value="@Region.ID">
                                                    @Region.Region
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Branch</label>
                                        <select class="form-control select2">
                                            <option label="Choose Branch">
                                            </option>
                                            @foreach (VarshaWeb.Models.EmployeeManagement.Emp_BranchModels Branch in (List<VarshaWeb.Models.EmployeeManagement.Emp_BranchModels>)ViewBag.Branch)
                                            {
                                                <option value="@Branch.ID">
                                                    @Branch.Branch
                                                </option>
                                            }
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row row-sm text-center">
                            <div class="col-sm-6 col-md-3 mg-t-10">
                                <button class="btn btn-primary btn-block" ng-click="Save()">Submit</button>
                            </div>
                            <div class="col-sm-6 col-md-3 mg-t-10">
                                <button class="btn btn-secondary btn-block">Cancel</button>
                            </div>


                        </div>
                    </div>



                </div>
                <!--Dashboard Code End-->
            </div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/Angular/DAL/DAL.js"></script>
    <script src="~/Scripts/Angular/Services/NewEmployeeServices.js"></script>
    <script src="~/Scripts/Angular/JS/NewEmployee.js"></script>

    <!-- Moment js -->
    <script src="../assets/plugins/moment/moment.js"></script>

    <!-- Internal Select2.min js -->
    <script src="../assets/plugins/select2/js/select2.min.js"></script>
    <script src="../assets/js/select2.js"></script>

    <!-- Internal TelephoneInput js-->
    <script src="../assets/plugins/telephoneinput/telephoneinput.js"></script>
    <script src="../assets/plugins/telephoneinput/inttelephoneinput.js"></script>

    <!--Internal  jquery-simple-datetimepicker js -->
    <script src="../assets/plugins/amazeui-datetimepicker/js/amazeui.datetimepicker.min.js"></script>
    <script src="../assets/js/datePicker.js"></script>

    <script>
        $('#datetimepicker1').datetimepicker({
            minView: 2,
            format: 'dd-mm-yyyy',
            autoclose: true
        });
    </script>
}
