@model VarshaWeb.Models.EmployeeManagement.ViewEmp_BasicInfoModel

@{
    ViewBag.Title = "EmployeeBasicEdit";
}

<h2>EmployeeBasicEdit</h2>

<div>
    <h4>ViewEmp_BasicInfoModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SelectedCompanyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectedCompanyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoiningDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoiningDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnProbationTill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnProbationTill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProbationStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProbationStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficeEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficeEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserNameId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserNameId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profile_pic_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile_pic_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facebook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facebook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Google)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Google)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Linkedln)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Linkedln)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Twitter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Twitter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instagram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instagram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tiktok)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tiktok)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB_Months)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB_Months)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoiningDate_Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoiningDate_Month)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
