@using VarshaWeb.Models.EmployeeManagement;

@{
    ViewBag.Title = "EmployeeDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Internal Data table css -->
<link href="~/assets/plugins/datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/assets/plugins/datatable/css/buttons.bootstrap4.min.css" rel="stylesheet">
<link href="~/assets/plugins/datatable/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="~/assets/plugins/datatable/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="~/assets/plugins/datatable/css/responsive.dataTables.min.css" rel="stylesheet">
<link href="~/assets/plugins/select2/css/select2.min.css" rel="stylesheet">

<!--- Style css-->
<link href="~/assets/css/style.css" rel="stylesheet">
<link href="~/assets/css/style-dark.css" rel="stylesheet">
<!-- breadcrumb -->
<!-- row -->

<div class="breadcrumb-header justify-content-between">
    <div class="my-auto">
        <div class="d-flex">
            <h4 class="content-title mb-0 my-auto">Employee Managment</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Employee Master Dashboard</span>
        </div>
    </div>
</div>
<!-- breadcrumb -->
<!-- row -->
<div class="row">
    <div class="col-xl-12 col-lg-12">
        <!--Dashboard Code start-->
        <div class="card mg-b-20">
            <div class="custom-card">
                <div class="card-body">
                    <div class=" row-sm text-center">
                        <div class="col-sm-6 col-md-2 mg-t-10 float-right">
                            <button class="btn btn-info btn-block" href="~/">Add Employee</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table id="Employeetable" class="table key-buttons text-md-nowrap">
                        <thead>
                            <tr>
                                <th>Employee Name</th>
                                <th>Company</th>
                                <th>Designation</th>
                                <th>Department</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (ViewBag.EmpList != null)
                            {
                                foreach (Emp_BasicInfoModels empinfo in (List<Emp_BasicInfoModels>)ViewBag.EmpList)
                                {
                            <tr>
                                <td>@empinfo.FirstName</td>
                                <td>@empinfo.EmpCode</td>
                                <td>@empinfo.Designation</td>
                                <td>@empinfo.Company</td>
                                <td>
                                    <div class="btn-icon-list">
                                        <button class="btn btn-primary btn-icon" onclick="edit(@empinfo.ID)"><i class="far fa-edit"></i></button>
                           
                                    </div>
                                </td>
                            </tr>

                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--Dashboard Code End-->
    </div>
</div>
@section scripts {

    <!--  <script src="~/Scripts/angular.min.js"></script>
       <script src="~/Scripts/angular-resource.min.js"></script>
       <script src="~/Scripts/Angular/EmployeeManagement/DAL/CommonJs.js"></script>
       <script src="~/Scripts/Angular/EmployeeManagement/DAL/DAL.js"></script>
       <script src="~/Scripts/Angular/EmployeeManagement/JS/ViewEmployee.js"></script>

       <script src="~/Scripts/Angular/EmployeeManagement/Services/ViewEmployeeServices.js"></script>
       <!--Dashboard Code End-->
    <!-- Internal Data tables -->
    <script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatable/js/responsive.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.bootstrap4.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/assets/plugins/datatable/js/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatable/js/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.colVis.min.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatable/js/responsive.bootstrap4.min.js"></script>

    <script>
        $('#Employeetable').DataTable({

            responsive: true,
            language: {
                searchPlaceholder: 'Search',
                sSearch: '',
                lengthMenu: '_MENU_ ',
            }
        });

    </script>
}