@using VarshaWeb.Models.EmployeeManagement;


@{
    ViewBag.Title = "VendorDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Internal Select2 css -->
<link href="../assets/plugins/select2/css/select2.min.css" rel="stylesheet">

<!--Internal  TelephoneInput css-->
<link rel="stylesheet" href="../assets/plugins/telephoneinput/telephoneinput.css">

<script>
    function restrictCharacters(evt) {

        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (((charCode >= '48') && (charCode <= '57')) || (charCode == '44')) {
            return true;
        }
        else {
            return false;
        }
    }

</script>
<!--- Style css-->
<link href="~/assets/css/style.css" rel="stylesheet">
<link href="~/assets/css/style-dark.css" rel="stylesheet">

<!-- breadcrumb -->
<!-- row -->
<form id="AddVendorDetailForm" ng-app="VendorApp" ng-controller="VendorController">
    <div class="breadcrumb-header justify-content-between">
        <div class="my-auto">
            <div class="d-flex">
                <h4 class="content-title mb-0 my-auto">Employee Management</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Add Vendor Details</span>
            </div>
        </div>
    </div>
    <!-- breadcrumb -->
    <!-- row -->

    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <!--Dashboard Code start-->
            <div class="card mg-b-20">

                <div class="card-body">

                    <div class="card-body pt-0">

                        <div class="row row-sm">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="Company_Name">Company</label>
                                    <input required="" type="text" class="form-control" ng-model="ngVendorCompany" id="Middle_Name" placeholder="Enter Company_Name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="Vendor_Name">Contact Person</label>
                                    <input required="" type="text" class="form-control" ng-model="ngVendorname" id="Vendor_Name" placeholder="Enter Vendor_Name">
                                </div>

                            </div>

                        </div>
                        <div class="row row-sm">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Mobile Number</label>
                                    <div class="input-group">
                                        <input class="form-control" onkeypress="return restrictCharacters(event);" maxlength="10" ng-model="ngtxtmobile" id="phone" name="phone" type="tel">
                                        </div>
                                    </div>
                                </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="Contact">Telephone Number </label>
                                    <input required="" type="text" onkeypress="return restrictCharacters(event);" maxlength="10" class="form-control" ng-model="ngContact" id="txtLast_Name" placeholder="Enter Telephone Number">
                                </div>
                            </div>


                        </div>
                        <div class="row row-sm">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="Middle_Name"> Email ID</label>
                                    <input required="" type="email" class="form-control" ng-model="ngEmail" id="txtEmail" placeholder="Enter Email">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Designation</label>
                                    <div id="slWrapperDesignation" class="parsley-select">
                                        <select required="" class="form-control select2" ng-model="ngddlDesignation" data-parsley-class-handler="#slWrapperDesignation" data-parsley-errors-container="#slErrorContainerDesignation">
                                            <option value="">
                                                Choose one
                                            </option>
                                            @foreach (VarshaWeb.Models.EmployeeManagement.Emp_DesignationModel designation in (List<VarshaWeb.Models.EmployeeManagement.Emp_DesignationModel>)ViewBag.designation)
                                            {
                                                <option value="@designation.ID">
                                                    @designation.Designation
                                                </option>
                                            }
                                        </select>
                                    </div>
                                    <div id="slErrorContainerDesignation"></div>
                                </div>

                            </div>



                        </div>
                        <div class="row row-sm">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="Last_Name">Address</label>
                                    <input required="" type="text" class="form-control" ng-model="ngAddress" id="txtaddress" placeholder="Enter Address">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="City">City</label>
                                    <input required="" type="text" class="form-control" ng-model="ngCity" id="Last_Name" placeholder="Enter City">
                                </div>
                            </div>




                        </div>

                        <div class="row row-sm">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="Country"> Country</label>
                                    <div id="slWrapperCountry" class="parsley-select">
                                        <select required="" class="form-control select2" ng-model="ngddlCountry" data-parsley-class-handler="#slWrapperCountry" data-parsley-errors-container="#slErrorContainerCountry">
                                            <option value="">
                                                Choose one
                                            </option>
                                            @foreach (VarshaWeb.Models.EmployeeManagement.Emp_CountryModel country in (List<VarshaWeb.Models.EmployeeManagement.Emp_CountryModel>)ViewBag.country)
                                            {
                                                <option value="@country.ID">
                                                    @country.CountryName
                                                </option>
                                            }
                                        </select>
                                    </div>
                                    <div id="slErrorContainerCountry"></div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="state"> State</label>
                                    <div id="slWrapperState" class="parsley-select">
                                        <select required="" class="form-control select2" ng-model="ngddlstate" data-parsley-class-handler="#slWrapperState" data-parsley-errors-container="#slErrorContainerState">
                                            <option value="">
                                                Choose one
                                            </option>
                                            @foreach (VarshaWeb.Models.EmployeeManagement.Emp_Vendor_State_MasterModel state in (List<VarshaWeb.Models.EmployeeManagement.Emp_Vendor_State_MasterModel>)ViewBag.state)
                                            {
                                                <option value="@state.ID">
                                                    @state.StateName
                                                </option>
                                            }

                                        </select>
                                    </div>
                                    <div id="slErrorContainerState"></div>
                                </div>
                            </div>



                        </div>


                        <div class="row row-sm">
                            <div class="col-lg-6">
                                <div class="form-group">

                                    <label for="PanCardNo">PAN Card No</label>
                                    <input required="" type="text" class="form-control" ng-model="ngPANcardno" id="txtPANcardno" placeholder="Enter PAN Card No">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="Gstno"> GST No</label>
                                    <input required="" type="text" class="form-control" ng-model="ngGSTno" id="txtGSTno" placeholder="Enter GSTno">
                                </div>
                            </div>



                        </div>
                        <div class="row row-sm">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="Remark">Remark</label>
                                    <input required="" type="text" class="form-control" ng-model="ngRemark" id="txtremark" placeholder="Enter Remark">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="uploadFile">Upload Document</label>
                                    <div class="custom-file">
                                        <input class="custom-file-input" id="uploadFile" type="file"> <label class="custom-file-label" for="uploadFile">Choose file</label>
                                    </div>
                                </div>
                                <br />
                                <div ng-repeat="i in UploadQuotationFiles">
                                    {{i.Name}}&nbsp;
                                    <button type="button" class="btn btn-warning badge" ng-click="Remove($index)"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-sm text-center justify-content-center">
                        <div class="col-sm-6 col-md-3 mg-t-10">
                            <!---  <button  ng-click="Save()" class="btn btn-primary btn-block">Submit</button>-->
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>
                        <div class="col-sm-6 col-md-3 mg-t-10">
                            <button type="button" class="btn btn-secondary btn-block" ng-click="CancelAddpage()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
@section scripts {

    <!-- Internal Select2.min js -->
    <script src="../assets/plugins/select2/js/select2.min.js"></script>
    <script src="../assets/js/select2.js"></script>

    <!--Internal  Parsley.min js -->
    <script src="../assets/plugins/parsleyjs/parsley.min.js"></script>

    <!-- Internal TelephoneInput js-->
    <script src="../assets/plugins/telephoneinput/telephoneinput.js"></script>
    <script src="../assets/plugins/telephoneinput/inttelephoneinput.js"></script>

    <script src="~/Scripts/Angular/EmployeeManagement/Services/VendorRequestServices.js"></script>
    <script src="~/Scripts/Angular/EmployeeManagement/JS/VendorRequest.js"></script>

}
